---
---
// Ignore the syntax error below.
// Per the documentation (https://jekyllrb.com/docs/assets/),
// jekyll requires us to start our sass files with ---\n----
@import "styles";
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";